*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Schoolbell', sans-serif, cursive;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 100%;
    width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}